node_modules
.next
.turbo
.vercel
dist
coverage

# local env/config
.env
.env.*
!.env.example

# logs and debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor/OS artifacts
.DS_Store
.idea
.vscode

# databases & backups
prisma/dev.db*
*.sqlite
tsconfig.tsbuildinfo
relay-rs/target/
